.ReservationsPage {
    background-color: #495E57;
    width: 100%;
    padding-left: 15% !important;
    padding-right: 15% !important;
}

.ReservationsPage input {
    background-color: #E8F0FE !important;
}

.ReservationsPage_SubmitButton {
    color: black !important;
}

.ReservationsPage label {
    color: #EDEFEE !important;
}