h1, h2 {
  font-family: "Markazi Text", serif !important;
}

h1 {
  color: #F4CE14;
}

.h2_on_primary {
  color: #EDEFEE;
}

label,
input,
select,
textarea,
p,
a,
button {
  font-family: "Karla", sans-serif;
}

button {
  background-color: #F4CE14 !important;
  border-radius: 2em !important;
}